@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

body {
    height: 3000px;
}

.container {
    width: 1300px;
    margin: 0 auto;
    font-family: "Ubuntu", sans-serif;
}

@import "_header.scss";
